{% extends 'base.html' %}
{% load static %}
{% block Title %} Cargar Excel{% endblock %}

{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center py-4">
        <form action="{% url 'cargar_excel' %}" method="POST" enctype="multipart/form-data">
            <input type="text" name="fileTitle" placeholder="Enter a title">
            <input type="file" name="uploadedFile" required>
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
    </div>

    {% if msg %}
        {{ msg }}
    {% endif %}
<h4> Consulta por descripcion</h4>
 <div class="d-flex justify-content-center">
{{count_description | safe }}
</div>
<!-- repetir esto con las otras tablas <h4> Consulta por descripcion</h4>-->
<!-- <div class="d-flex justify-content-center">   -->
<!--{{count_description | safe }}-->
<!--</div>-->
<p></p>
<h4> Consulta por region</h4>
<div class="d-flex justify-content-center">
    {{count_region | safe }}
</div>
<p></p>
<h4> Consulta por Orden de prioridad</h4>
<div class="d-flex justify-content-center">
    {{count_priority | safe }}
</div>
<p></p>
<h4> Información general</h4>
<table class="d-flex justify-content-center">
    <tr>
        <th> Numero de filas guardadas: {{ count_data }} </th>
    </tr>
</table>
<p></p>

<h3> Tabla de datos</h3>
    <table class="d-flex justify-content-center">
        <tr>
            <th>Region</th>
            <th>Country</th>
            <th>Item Tipe</th>
            <th>Sales Channel</th>
            <th>Order Priority</th>
            <th>Order Date</th>
            <th>Order ID</th>
            <th>Ship Date</th>
            <th>Units Solds</th>
            <th>Unit Price</th>
            <th>Unit Cost</th>
            <th>Total Revenue</th>
            <th>Total Cost</th>
            <th>Total Profit</th>

        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.0 }}</td>
                <td>{{ file.1 }}</td>
                <td>{{ file.2 }}</td>
                <td>{{ file.3 }}</td>
                <td>{{ file.4 }}</td>
                <td>{{ file.5 }}</td>
                <td>{{ file.6 }}</td>
                <td>{{ file.7 }}</td>
                <td>{{ file.8 }}</td>
                <td>{{ file.9 }}</td>
                <td>{{ file.10 }}</td>
                <td>{{ file.11 }}</td>
                <td>{{ file.12 }}</td>
                <td>{{ file.13 }}</td>

            </tr>
        {% endfor %}
    </table>


{% endblock %}
