{% extends 'base.html' %}
{% load static %}
{% block Title %} Upload Files{% endblock %}

{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center text-center py-4">
 {{ count_years | safe }}
</div>
<div class="d-flex justify-content-center text-center py-2">
{{count_description | safe }}

</div>

    <div class="text-black text-center py-2">Cantidad de filas: {{ count_row }}</div>
    <div class="d-flex justify-content-center py-4">
        <form action="{% url 'cargar_csv' %}" method="POST" enctype="multipart/form-data">
            <input type="text" name="fileTitle" placeholder="Enter a title">
            <input type="file" name="uploadedFile" required>
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
    </div>

    {% if msg %}
        {{ msg }}
    {% endif %}
    <table class="d-flex justify-content-center">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Deposits</th>
            <th>Withdrawis</th>
            <th>Balance</th>

        </tr>
        {% for file in files %}
            <tr>
                <td>{{ forloop.counter0 }}</td>
                <td>{{ file.date_time }}</td>
                <td>{{ file.description }}</td>
                <td>{{ file.deposist }}</td>
                <td>{{ file.withdrawls }}</td>
                <td>{{ file.balance }}</td>

            </tr>
        {% endfor %}
    </table>


{% endblock %}