{% extends 'base.html' %}
{% load static %}
{% block Title %} Mostrar Lista{% endblock %}

{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
{% endblock %}

{% block content %}

    <body>
    <h1 class="text-center" style="color: #696cff">WELCOME TO HACKATHON 2</h1>
    <div class="d-flex justify-content-center">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header text-center" style="color: #696cff">We are team 8 </div>
            <div class="card-body text-secondary">
                <h5 class="card-title text-center">Load the xlsx and csv</h5>
                <p class="card-text">This program helps you clean data, upload xlsx and csv files, if you need our help...
                    Call us!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-4">

            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="static/img/avatars/9.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center" >Andres Fernando Garcia.
                        </p>
                    </div>
                </div>

                <div class="px-5">
                    <div class="card" style="width: 18rem;">
                        <img src="static/img/avatars/8.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center" >Angélica Morales Daza</p>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="static/img/avatars/10.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center" >Jorge Luis Zetien</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    </body>
    </html>

{% endblock %}