{% extends 'base.html' %}
{% load static %}
{% block Title %} Mostrar Lista{% endblock %}

{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
{% endblock %}

{% block content %}
    
    {% if msg %}
        {{ msg }}
    {% endif %}
    <table>
        <tr>
            <th>Region</th>
            <th>Country</th>
            <th>Item Tipe</th>
            <th>Sales Channel</th>
            <th>Order Priority</th>
            <th>Order Date</th>
            <th>Order ID</th>
            <th>Ship Date</th>
            <th>Units Solds</th>
            <th>Unit Price</th>
            <th>Unit Cost</th>
            <th>Total Revenue</th>
            <th>Total Cost</th>
            <th>Total Profit</th>

        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.region }}</td>
                <td>{{ file.country }}</td>
                <td>{{ file.sales_channel }}</td>
                <td>{{ file.order_priority }}</td>
                <td>{{ file.order_date }}</td>
                <td>{{ file.order_id }}</td>
                <td>{{ file.ship_date }}</td>
                <td>{{ file.units_sold }}</td>
                <td>{{ file.unit_price }}</td>
                <td>{{ file.unit_cost }}</td>
                <td>{{ file.total_revenue }}</td>
                <td>{{ file.total_cost }}</td>
                <td>{{ file.total_profit }}</td>
                
            </tr>
        {% endfor %}
    </table>


{% endblock %}

