{% extends 'base.html' %}
{% load static %}
{% block Title %} Upload Files{% endblock %}

{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center py-4">
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
            <input type="text" name="fileTitle" placeholder="Enter a title">
            <input type="file" name="uploadedFile">
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
    </div>
   
    {% if msg %}
        {{ msg }}
    {% endif %}
    <table class="d-flex justify-content-center">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>File Path</th>
            <th>Upload Date & Time</th>

        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.uploadedFile.url }}</td>
                <td>{{ file.date_time_of_upload }}</td>
                
            </tr>
        {% endfor %}
    </table>


{% endblock %}

